form{
    width:100%;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
    display:block;
    padding: 20px;
    width:60%;
    background-color: rgb(236, 236, 236);
    margin-bottom: 20px;
    margin-top:10px;
    border-radius: 20px;
    border: 1px dotted gray;
    box-sizing: content-box;
} 

input{
    margin-left: 10px;
    width:60%;
    padding: 10px;
    border: 1px solid darkslategray;
    border-radius: 5px;
}

input:focus{
    border: 5px solid lightseagreen;
}

button{
    margin:25px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    background-color: rgb(132, 82, 82);
    color: antiquewhite;
    cursor: pointer;
}

button:hover{
    border: 10px solid yellow;
    color: yellow;
    background-color: rgb(185, 87, 87);
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

li a{
    display:block;
    width:100%;
    background-color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(85, 91, 95);
    padding: 20px 8px;
    text-decoration: none;
}

li:hover{
    background-color: rgb(137, 181, 219);
    border: 10px solid rgb(61, 57, 57)
}

table{
    border-collapse: collapse;
    width:100%;
}

th{
    background-color: brown;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

th,td{
    padding:20px;
    text-align: left;
}

td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

tr:nth-child(even){
    background-color: aliceblue;
}

tr:hover{
    background-color: antiquewhite;
}